<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="simplesController.js"></script>
</head>
<body ng-controller="simpleController">
    Nome <input type="text" ng-model="user.name"/>
    Sobrenome <input type="text" ng-model="user.subname"/>
    Endereço <input type="text" ng-model="user.address"/>
    Profissão <input type="text" ng-model="user.profession"/>
    E-mail <input type="text" ng-model="user.email"/>
    <hr/>
    <h1>Nome: {{user.name}}</h1>
    <h1>Sobrenome: {{user.subname}}</h1>
    <h1>Endereço: {{user.address}}</h1>
    <h1>Profissão: {{user.profession}}</h1>
    <h1>E-mail: {{user.email}}</h1>
    <hr/>
    
</body>
</html>
